body {
    background-color: #2e2e2e;
    color: #fff;
}

#sidebar {
    color: #999999;
}

/* menu and logo styles */
.navbar { /*remove padding to allow connected borders*/
    padding-bottom: 0;
    padding-top: 0;
    height: 5em;
}

body > nav {
    background-color: #208d75;
    border-bottom: 1px solid #fff;
    background: linear-gradient(180deg, rgba(32,115,87,1) 0%, rgba(42,141,117,1) 8px, rgba(42,141,117,1) 100%);
}

nav #mainMenu {
    border-left: 1px solid #fff;
    height: 5em;
}

nav #mainLogo {
    background-color: #1f7055;
    background: linear-gradient(180deg, #195943 0%, #1f7055 8px, #1f7055 100%);

    height: 5em;
    border-bottom: 1px solid #fff;
}

/* menu buttons */
body > nav ul {

}

body > nav li a.nav-link {
    vertical-align: bottom;
    height: 5em;
    padding: 0;
    line-height: 8em;
}

body > nav .nav-link, body > nav .navbar-brand{
    color: #fff;
}

/* main content*/

#mainContent {
       background-color: #208d75;

       background: linear-gradient(180deg, rgba(32,115,87,1) 0%, rgba(42,141,117,1) 8px, rgba(42,141,117,1) 100%);
}

footer {
    background-color: #1f7055;
}

